* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
    line-height: 1.6;
}



h1 {
    font-size: 2.5rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);

}

h2 {
    font-size: 1.8rem;
    color: #fff;
    background-color: #000;
    padding: 10px;
    margin: 0;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
}

.content {
    display: flex;
    margin: 0 ;
    width: 100%;
}

.left-section {
    flex: 7;
    background-color: #d3d3d3;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.right-section {
    flex: 3;
    background-color: #b0b0b0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.right-section img {
    width: 100%;
    height: auto;
}

.table {
    display: grid;
    grid-template-columns: 10% 50% 15% 25%; /* חלוקת הגריד לאחוזים */
    background-color: #f0f0f0; 
    margin-bottom: 10px; 
    border-radius: 5px;
    align-items: center;
}

.table .product-title,
.table .product-price {
    padding: 10px;
}

.table .actions { /* חלוקת משנה של הגריד לכפתורים */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* שלושה כפתורים עם רוחב שווה */
    gap: 5px; /* רווח בין הכפתורים */
}

.table button {
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    padding: 8px 12px;
    text-align: center;
}

.table button:hover {
    background-color: #45a049;
}

.load-button {
    background-color: transparent; 
    color: #fff; 
    border: none;
    cursor: pointer; 
    padding: 5px 10px; 
    font-size: 1.4rem; 
}

.load-button:hover {
    background-color: rgba(255, 255, 255, 0.2); 
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; /* מעל לכל */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* הוספת גלילה אם צריך */
    background-color: rgba(0, 0, 0, 0.7); /* רקע כהה עם שקיפות */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* ממורכז במסך */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* רוחב המודל */
}

.close {
    color: #aaa;
    float: right; /* צמוד לימין */
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    background-color: #000;
    margin: 15% auto; /* ממורכז במסך */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* רוחב המודל */
    max-width: 400px; /* רוחב מקסימלי */
    border-radius: 10px; /* פינות מעוגלות */
}

.modal-content h2 {
    text-align: center; /* כותרת מרכזית */
}

label {
    display: block; /* כל תווית תהיה בשורה חדשה */
    margin-bottom: 5px; /* רווח מתחת לתווית */
    font-weight: bold; 
    color: white;
}

input[type="text"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc;
}

button[type="submit"] {
    width: auto;
    padding: 10px; 
    background-color: #000; 
    background-color: white; 
    border: none; 
    font-size: 1rem; 
    cursor: pointer; 
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}

.close {
    color: #aaa;
    float: right; 
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.pagination button:hover {
    background-color: #555;
}

.star {
    font-size: 24px;
    color: gray;
}

.star:hover {
    color: gold;
}F